{% extends 'ExpresDemoAdminBundle:Page:main.html.twig' %}

{% block main -%}

 {{ tinymce_init() }}
 
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create new static page</h1>
        </div>
        <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('staticpages') }}">
            Back to the list
        </a>
    </li>
</ul>




{% endblock %}
